* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(253, 238, 151);
}

header {
    background: linear-gradient(45deg, #4d66e4, #fcff47);
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.required {
    color: red;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0672ffc0;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

section {
    margin: 30px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="date"], textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

button {
    padding: 15px 30px;
    background-color: #3ca313;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF8C00;
}